{% extends 'main.html' %}
<!--  -->
{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 2fr 12fr 3fr;
    }

</style>

<div class="home-container">

    <div> <!-- topics -->
    {% include 'base/topic_feed.html' %}
    </div>
    <div> <!-- center column -->
        <br>
        <a href="{% url 'create-room'%}"> submit something </a>
        <hr>
        <div>
            <p>
            {% if room_count == 1 %} 1 room available:
            {% elif room_count > 1 %} {{ room_count}} rooms available:
            {% elif room_count == 0 %} no room has been found with the given information!
            {% endif %}
            </p>
            

            {% include 'base/main_feed.html'%}
            
        </div>

    </div>
    <div> <!-- recent activities -->
        {% include 'base/activity_feed.html'%}
    </div>
</div>
{% endblock %}