{% extends 'main.html' %}
<!--  -->
{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 2fr 12fr 3fr;
    }

</style>

<div class="home-container">

    <div> <!-- topics -->
    {% include 'base/topic_feed.html' %}
    </div>
    <div> <!-- center column -->
        <br>
        <a href="{% url 'create-room'%}"> submit something </a>
        <hr>
        <div>
            <p>
            {% if room_count == 1 %} 1 room available:
            {% elif room_count > 1 %} {{ room_count}} rooms available:
            {% elif room_count == 0 %} no room has been found with the given information!
            {% endif %}
            </p>
            {% for room in rooms %}

            <div>

                <h5>
                    <span>@{{room.host}} </span>:
                    <a href='{% url "room" room.id%}'> {{room.name}} </a>
                    <small> {{room.topic.name}}</small></h5>
                {% if request.user == room.host %}
                <h6><a href="{% url 'update-room' room.id %}"> Edit </a>
                <a href="{% url 'delete-room' room.id %}"> Delete </a></h6>
                {% endif %}
                    <hr>
                
            </div>
            {% endfor %}
        </div>

    </div>
    <div> <!-- recent activities -->
        {% include 'base/activity_feed.html'%}
    </div>
</div>
{% endblock %}