            <div>
                {% for room in rooms %}
                <h5>
                    <span><a href="{% url 'user-profile' room.host.id %}">@{{room.host}}</a></span>:
                    <a href='{% url "room" room.id%}'> {{room.name}} </a>
                    <small> {{room.topic.name}}</small></h5>
                {% if request.user == room.host %}
                <h6><a href="{% url 'update-room' room.id %}"> Edit </a>
                <a href="{% url 'delete-room' room.id %}"> Delete </a></h6>
                {% endif %}
                    <hr>
                {% endfor %}    
            </div>