{% extends 'main.html' %}


{% block content%}
<p>{{user.username}}</p>

<style>
    .page-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;

    }

</style>

<div class="page-container">

    <div> <!-- topic -->
        {% include 'base/topic_feed.html' %}
    </div>
        
    <div> <!-- main -->
        {% include 'base/main_feed.html' %}
    </div>
    
    <div> <!-- activity -->
        {% include 'base/activity_feed.html' %}
    </div>

</div>
{% endblock %}