{% extends 'main.html' %}


{% block content%}
<center><h3>@{{user.username}}</h3></center>
<hr>
<style>
    .page-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;

    }

</style>

<div class="page-container">

    <div> <!-- topic -->
        {% include 'base/topic_feed.html' %}
    </div>
        
    <div> <!-- main -->
        <p> all the posts made by <b>{{user.username}}</b>: </p>
        {% include 'base/main_feed.html' %}
    </div>
    
    <div> <!-- activity -->
        {% include 'base/activity_feed.html' %}
    </div>

</div>
{% endblock %}