{% extends 'main.html' %}
<!--  -->
{% block content %}

<style>
    .wholeroomcontainter{
        display: grid;
        grid-template-columns: 8fr 2fr;
    }
</style>

<div class="wholeroomcontainter">

<div>
<h3>
    <h6>
                {% if request.user == room.host %}
                <h6><a href="{% url 'update-room' room.id %}"> Edit </a>
                <a href="{% url 'delete-room' room.id %}"> Delete </a></h6>
                {% endif %}
    </h6>
    

    <p><b>{{room.name}}</b> {% if room.created|timesince != room.updated|timesince %} <small> <i>Updated</i> </small> {% endif %}
    <small> @<a href="{% url 'user-profile' room.host.id %}">{{room.host}}</a> | {{room.created|timesince}} ago | in   <a href="{% url 'homepage' %}?search={{room.topic}}">{{room.topic}}</a> </small>
    
 
    </p>
    <p> {{ room.description}} </p>
    <hr>
    <div class="comment-wrap">

        {% if request.user.is_authenticated %}
    <div clss="comment-form">
        <form method='POST' action="">
            {% csrf_token %}
            <input placeholder="whats on your mind?..." type="text" name="body" />
        </form>
    </div>
    {% else %}
        <small> <a href="{% url 'loginreg' %}"> login </a> to comment! </small>
    {% endif %}

    </div>


    {% if room_messages %}
    <h3> Conversations: </h3>
    {% else %}
    <h5> no conversations yet! </h5>
    {% endif %}
    {% for rms in room_messages %}
        <div>
        <small>@{{rms.user}} - {{rms.created|timesince}} ago</small>

        {%if request.user == rms.user %} <!-- deleting a message -->
            <small><a href="{% url 'delete-message' rms.id %}">Delete</a></small>
        {% endif %}

        <br> {{rms.body}}
        <br><br>
        </div>
    {% endfor %}

    
</h3>
</div>
    <div> <!-- Participants -->
        <center>
        <h4> Participants </h4>
        </center>
        {% for member in room_members %}
        <small>@<a href="{% url 'user-profile'  member.id%}">{{ member }}</a></small><br>
        {% endfor %}
        
    </div>

</div>

{% endblock %}